@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
}

header {
    background-color: rgb(30, 30, 30);
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.logo {
    font-family: "Fjalla One", sans-serif;
    font-size: 2.5em;
    margin: 12px 20px
}

.logo > a {
    color: white;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    height: 100%;
    gap: 12px;
    margin-right: 16px;
}

nav> ul > li > a {
    color: white;
    font-size: 1.2rem;
    padding: 16px 16px;
    transition: 0.2s ease-in;
}

nav > ul > li > a:hover {
    background-color: rgb(20, 20, 20);
    border-radius: 12px;
    border: 1px solid white;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: "Poppins", sans-serif; */
}

.main-content > section {
    background-color: rgb(40, 40, 40);
    width: 80%;
    padding: 10px;
}