:where(html) {
    
    --space-0: 0rem;
    --space-3xs: clamp(.25rem, calc(.25rem + 0vw), .25rem);
    --space-2xs: clamp(.5rem, calc(.5rem + 0vw), .5rem);
    --space-xs: clamp(.75rem, calc(.75rem + 0vw), .75rem);
    --space-s: clamp(1rem, calc(1rem + 0vw), 1rem);
    --space-m: clamp(1.5rem, calc(1.5rem + 0vw), 1.5rem);
    --space-l: clamp(2rem, calc(2rem + 0vw), 2rem);
    --space-xl: clamp(3rem, calc(3rem + 0vw), 3rem);
    --space-2xl: clamp(4rem, calc(4rem + 0vw), 4rem);
    --space-3xl: clamp(6rem, calc(6rem + 0vw), 6rem);
    --space-4xl: clamp(10rem, calc(10rem + 0vw), 10rem);
    --space-2xl-3xs: clamp(.25rem, 5.875rem + -7.5vw, 4rem);
    --font-primary: var(--font-family-text);
    --font-secondary: var(--font-family-display);
    --font-heading: var(--font-secondary);
    --font-monospace: var(--font-family-mono);
    --text-underline-offset: .125em;
    --tracking-tight: -.02em;
    --step--2: .8125rem;
    --step--1: .875rem;
    --step-0: 1rem;
    --step-05: clamp(1rem, .9375rem + .25vw, 1.125rem);
    --step-1: clamp(1.13rem, calc(1.03rem + .39vw), 1.32rem);
    --step-2: clamp(1.27rem, calc(1.03rem + .95vw), 1.74rem);
    --step-3: clamp(1.42rem, calc(.99rem + 1.75vw), 2.3rem);
    --step-4: clamp(1.6rem, calc(.88rem + 2.87vw), 3.04rem);
    --step-5: clamp(1.8rem, calc(.7rem + 4.41vw), 4.01rem);
    --page-padding: clamp(var(--space-s), 5vw, var(--space-l));
    --page-max-inline-size: 1200px;
    --focus-outline: 5px auto -webkit-focus-ring-color;
    --focus-outline-offset: 0px;
}